<div class="add-rate-container">
    <div class="add-rate-header">Rate the recipe</div>
    <div class="add-rate-error">{{errorMessage}}</div>
    <div class="star-rating">
        <app-star-rating (ratingChange)="update_rating($event)" [editable]="true" ></app-star-rating>
    </div>
    <form>
        <div class="comment">
            <input [(ngModel)]="comment" type="text" name="comment" id="comment" required />
        </div>
        <div class="submit">
            <input (click)="add_comment()" type="submit" value="Send" />
        </div>
    </form>

</div>